@model HomeCreateVM;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <label>Base path:</label>
    <input asp-for="basePath" />
    <select asp-for="selectedOwner" asp-items="@(new SelectList(Model.ownersList))">
    <option>Please select one</option>
    </select> <br>
    <input type="submit" name="createBtn" value="Create" />

</form>
