@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <label>Path:</label> <input type="text" name="path"><br>

    <input  type="submit" name="create" value="Create"/>

</form>