@model HomeCreateVM;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form name="postForm" method="post">
    <label>Base path:</label>
    <input value="@Model.BasePath" asp-for="BasePath" />
    <input asp-action="ChangeBasePath" type="submit" name="button" value="Change Base Path"> <br />
    <span asp-validation-for="BasePath" class="text-danger"></span> <br />
    <label>Owner:</label>
    <select asp-for="SelectedOwner" asp-items="@(new SelectList(Model.OwnersList,"Name","Name"))" onchange="DoPostBack();"></select>
    <label>Quality folder</label>
    <select asp-for="SelectedFolder" asp-items="@(new SelectList(Model.FolderList))"></select> <br />
    <button asp-action="SelectFiles" type="submit" name="button" value="SelectFiles">Select Files</button>
    <input asp-action="Create" type="submit" name="createBtn" value="Create" /> 
</form>

<br>
@foreach (var path in Model.Logs)
{
    <div>@path</div>
}

<script>
    function DoPostBack() {
        document.postForm.action = "/home/GetFolders";
        document.postForm.submit();
    }
</script>